registry = https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-virtual
_auth = b2t1bmlzaGluaXNoaTpBUEFOOFBNVUVDU3hUSmtXVHhHdmRrQXF6bzk=
always-auth = true
email = okunishitaka@realglobe.jp


